@font-face {
    font-family: umb_font;
    src: url("assets/Lurple\'s\ Delight\ X2.ttf");
}
body{
    background-color: #211912;
    overflow: hidden;
    font-family: umb_font;
}
*{
    -webkit-user-drag: none;
    user-select: none;
    box-sizing: border-box;
}
img, #inventory .amount{
    width: calc(16px * var(--sprite-scale));
}
#cursor{
    pointer-events: none;
    z-index: 10;
}
#world{ 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#world .ground, #world .machine, #world .machine .arm, #wave-start-btn{
    position: absolute;
}
#wave-start-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -205px;
    width: 200px;
    height: 85px;
    font-size: 1.25rem;
    background-color: #d9d9d9;
    color: #211912;
    border-radius: 5px;
    cursor: pointer;
}
#wave-start-btn:hover{
    background-color: #211912;
    color: #d9d9d9;
    border: 1px solid #d9d9d9;
}
#wave-start-btn:not(.active){
    display: none;
}
#info-txt:not(.active){
    color:#211912;
}
#info-txt:is(.active){
    position: absolute;
    color: white;
    right: -251px;
    top: -26px;
    font-size: 2rem;
    background-color: #211212;
    width: 250px;
    white-space: pre-line;
    z-index: 2;
}
#inventory{
    display: flex;
    justify-content: center;
    width:max-content;
    position: absolute;
    left: 50%;
    bottom: calc(-16px * var(--sprite-scale) * 1.1);
    transform: translateX(-50%);
    gap: 10px;
    z-index: 2;
}
#inventory .slot{
    width: calc(16px * var(--sprite-scale));
    height: calc(16px * var(--sprite-scale));
    background-color: #d9d9d9; 
}
#inventory .slot:is(.active){
   border: 5px solid #a600ff; 
}
#inventory .amount{
    display: flex;
    justify-content: end;
    align-items: end;
    height: calc(16px * var(--sprite-scale));
    color: #211212;
    bottom: calc(22px * var(--sprite-scale));
    left: 0;
    position: relative;
    font-size: 1.66rem;
}
#recipe-menu:not(.active){
    display: none;
}
#recipe-menu {
    position: absolute;
    height: 400px;
    width: 200px;
    background-color: #211212;
    overflow-y: auto;
    
    display: flex;
    justify-content: start;
    align-items: end;
    flex-direction: column;
    gap: 5px;
}
#recipe-menu .btn{
    padding: 5px;
    padding-left: 10px;
    color: white;
    cursor: pointer;
    font-size: 1.7rem;
    height: fit-content;
    width: fit-content;
    background-color: #292929;
}
#recipe-menu .recipes{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
#world .machine .arm{
    z-index: 1;
    pointer-events: none;
}
#world .machine .right{
    left: calc(16px * var(--sprite-scale));
}
#world .machine .left{
    left: calc(-16px * var(--sprite-scale));
    rotate: 180deg;
}
#world .machine .down{
    top: calc(16px * var(--sprite-scale));
    rotate: 90deg;
}
#world .machine .up{
    top: calc(-16px * var(--sprite-scale));
    rotate: -90deg;
}